ul.blog-types {
    list-style-type: none;
    }
div.blog:not(:last-child){
    margin-bottom: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
}
div.blog h3{
    margin-top: 0.5em;
}
div.blog p.blog-info{
    margin-bottom: 0;
}